fixed-header{
  width: 100%;
  position: fixed;
}

.fixed-logo{
  display: inline-block;
}

.margin-top-minus{
  margin-top: -60px;
}

.header-image-post{
    width: 3em;
    height: 3em;
    margin: -1em auto 1em;
    overflow: hidden;
    border-radius: 3em;
    border: 2px solid #36D995;
    background: #2DB77E;
}

.header-image{
    border-radius: 5em !important;
    width: 150px !important;
    height: 150px !important;
}

.main-content{
  background: white !important;
  margin-top: -160px !important;
}

.post-content{
      padding-top: 0.2em; !important;
}

.post-header{
      padding-top: 1.5em !important;
}
